* {
    box-sizing:border-box;  
}

body {
    margin: 0;
    background-color: #97dcdf;
    font-family: 'Press Start 2P', cursive;
}

#level-title {
    font-size: 4.5rem;
    margin:  12% 0% 1% 5%;
    /* color: #FEF2BF; */
    color: #e3cc68    ;
    display: inline-block;
}

hr {
    color: white;
    background-color: white;
    margin: 0.1rem 0 0.1rem 0;
}

#level-subhead {
    font-size: 1.5rem;
    margin: 0% 10% 10% 10%;
    color: #FEF2BF;
    display: inline-block;
}

.menu-btns {
    /* margin-left: 10rem; */
    display: flex;
    justify-content: space-evenly;
}

.btn {
    margin-left: 2rem;
    /* font-size: 1.5rem; */
    /* font-family: 'Press Start 2P', cursive; */
}

/* .tela-jogo {
    background-color: white;
} */

.tela-jogo {
    margin: 5rem 0 0 0;
}

.timer-title {
    margin: 0rem 0rem 0rem 0rem;
    /* display: block */
}

#timer{
    margin: 2rem 0rem 0rem 2rem;
    font-size: 5rem;
}

.hidden {
    display: none;
}

.pixel {
    position: relative;
    width: 11em;
    height: 3em;
    /* display: inline-block; */
    /* float: left; */
    margin: 0 2rem;
    outline: solid 0.25em #000;
    box-shadow: inset .313em .313em 0 rgba(0,0,0,0.4), inset -.313em -.313em 0 rgba(255,255,255,0.4), 0 1em 0.625em -.4em rgba(0,0,0,0.8);
    transition: linear .2s;
    color: #FFF;
    /* font-size: 1rem; */
    background: #2B7FA3;
    /* padding: 1em 0 0 .3em */
  }
  
.pixel:hover {
    box-shadow: inset .313em .313em 0 rgba(0,0,0,0.8), inset -.313em -.313em 0 rgba(255,255,255,0.6), 0 1em 0.625em -.4em rgba(255,255,255,0.8);
}
  
.pixel:before {
    content: " ";
    position: absolute;
    top: -.25em;
    left: -.25em;
    width: .625em;
    height: .625em;
    background: #97dcdf;
    border-bottom: solid .25em #000;
    border-right: solid .25em #000;
}
  
.pixel:after {
    content: " ";
    position: absolute;
    bottom: -.25em;
    right: -.25em;
    width: .625em;
    height: .625em;
    background: #97dcdf;
    border-top: solid .25em #000;
    border-left: solid .25em #000;
}

.palavra-atual {
    background-color: gray;
    margin: 1rem 0 0 0;
}

.btn-word {
    margin: 1rem 0 0 0;
}

.marcador-word {
    /* border-radius: 50%; */
    position: relative;
    border: .5px solid;
    width: 2rem;
    height: 2rem;
    background-color: lightgray;
}

#div-marcadores {
    margin:1rem 0 0 0;
}

.teste {
    position: relative;
    width: 11em;
    height: 2em;
    /* float: left; */
    /* margin: 0 2rem; */
    /* width: 100%; */
    background-color: red;
    /* text-decoration: none; */
    text-align: center;
}

/* .marcador-word:before {
    content: " ";
    position: absolute;
    top: -.1em;
    left: -.1em;
    width: .25em;
    height: .25em;
    background: #97dcdf;
    border-bottom: solid .1em #000;
    border-right: solid .1em #000;
}
  
.marcador-word:after {
    content: " ";
    position: absolute;
    bottom: -.1em;
    right: -.1em;
    width: .25em;
    height: .25em;
    background: #97dcdf;
    border-top: solid .1em #000;
    border-left: solid .1em #000;
} */